@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

:root {
  --bg-Yellow: #f4d04e;
  --bg-White: #fff;
  --bg-black: #000;
  --bg-gray: #6b6b6b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--bg-Yellow);
}

div.container-main {
  height: 522px;
  width: 384px;
  background-color: var(--bg-White);
  border: 1px solid var(--bg-black);
  border-radius: 20px;
  box-shadow: 8px 8px var(--bg-black);
  padding: 24px;
}

img.hero-image {
  border-radius: 10px;
  width: 100%;
}

div.container-text {
  margin-top: 20px;
}

div.container-text .header {
  width: min-content;
  border-radius: 4px;
  background-color: var(--bg-Yellow);
  padding: 4px 12px;
  font-size: 14px;
}

div.container-text h1 {
  font-size: 24px;
}

div.container-text .text {
  color: var(--bg-gray);
  font-size: 16px;
  line-height: 150%;
}

div.user-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

div.user-area img {
  width: 32px;
  height: auto;
}

div.user-area span {
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 768px) {
  div.container-main {
    height: 501px;
    width: 327px;
  }
}

@media (min-width: 768px) {
  div.container-main:hover {
    box-shadow: 16px 16px var(--bg-black);
    & h1 {
      color: var(--bg-Yellow);
      transition: 1s ease-in-out;
    }
  }
}
